.topnav{
    height:30px;
    line-height:30px;
    background:url(../images/bg_topnav.gif) repeat-x 0 0;
    border-bottom:1px solid #EBEBEB;
    font-size:12px
}

.topbar{background-color: #ECECEC;
    border-bottom:1px solid #ddd
}

.topbar a{ margin-right:5px}

.r_nav{ display:inline-block; color:#999}

.login_div {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #d9edf7;
    width: 300px;
    height: 200px;
    text-align: center;
    position: absolute;
    z-index: 999;
}

.hyaline {
    background:#c0c0c0;
    opacity: 0.3;
}